// Brand Colors
$primary: #FF5A5F;
$secondary: #00A699;
$tertiary: #FC642D;

// Neutral Colors
$black: #484848;
$gray-dark: #767676;
$gray: #9B9B9B;
$gray-light: #DBDBDB;
$white: #FFFFFF;

// Functional Colors
$text-color: $black;
$border-color: $gray-light;
$background-color: $white;


