// Brand Colors
$primary: #FF385C;

// Grayscale Colors
$black: #000000;
$gray-dark: #767676;
$gray: #9B9B9B;
$gray-light: #DBDBDB;
$white: #FFFFFF;

// Functional Colors
$text-color: $black;
$text-color-light: $gray-dark;
$border-color: $gray-light;
