// Define font-face
@font-face {
  font-family: 'Airbnb Cereal';
  src: font-url('AirbnbCerealBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

// Define fonts variables
$body-font: 'Lato', -apple-system, BlinkMacSystemFont, sans-serif;
$headers-font: 'Lato', -apple-system, BlinkMacSystemFont, sans-serif;
