<header class="header">
  <div class="header-top">
    <div class="header-left">
      <%= link_to root_path, class: "logo-container" do %>
        <%= image_tag "airbnb_logo.png", class: "logo", alt: "Airbnb Logo" %>
        <span class="logo-text">airbnb</span>
      <% end %>
    </div>
  </div>
</header>
