.flatpickr-calendar {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  width: 700px;
  padding: 24px;

  .flatpickr-months {
    padding-bottom: 16px;
    
    .flatpickr-month {
      height: 32px;
    }

    .flatpickr-prev-month, .flatpickr-next-month {
      top: 0;
      padding: 0;
      height: 32px;
      
      &:hover svg {
        fill: #000;
      }
    }
  }

  .flatpickr-weekdays {
    margin-bottom: 4px;
  }

  .flatpickr-weekday {
    font-size: 14px;
    color: #717171;
    font-weight: 600;
  }

  .flatpickr-day {
    border-radius: 50%;
    margin: 2px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    
    &:hover {
      background: #f7f7f7;
      border-color: #f7f7f7;
    }
    
    &.selected {
      background: #FF385C;
      border-color: #FF385C;
      color: white;
      
      &:hover {
        background: #FF385C;
        border-color: #FF385C;
      }
    }
    
    &.inRange {
      background: #f7f7f7;
      border-color: #f7f7f7;
      box-shadow: -5px 0 0 #f7f7f7, 5px 0 0 #f7f7f7;
    }
  }

  .flatpickr-current-month {
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    
    .cur-month {
      color: #222222;
    }
  }
}

.flatpickr-day.today {
  border-color: #FF385C;
}

.flatpickr-input {
  &[readonly] {
    background-color: transparent !important;
    cursor: pointer;
  }
}
