// Configuration
@import "config/colors";
@import "config/fonts";
@import "config/shadows";
@import "bootstrap";

// Components
@import "components/buttons";
@import "components/cards";
@import "components/category_bar";
@import "components/datepicker";
@import "components/navbar";
@import "components/search_bar";

// layout
@import "layouts/footer";
@import "layouts/header";

// General styles
body {
  font-family: $body-font;
  color: $text-color;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Use the shadow mixin where needed
.card {
  @include card-shadow;
  padding: 1rem;
  border-radius: 8px;
}
